In [ ]:
from celldetective import track
from celldetective.tracking import extract_objects_and_features
from tifffile import imread
from glob import glob
from natsort import natsorted
import numpy as np

In [ ]:
stack = imread("/home/limozin/Documents/Experiments/MinimumAdhesion/W1/100/movie/Aligned_Normed_13-Pos_000_000-1.tif")
labels = np.array([imread(f) for f in natsorted(glob("/home/limozin/Documents/Experiments/MinimumAdhesion/W1/100/labels_effectors/*.tif"))])
stack = np.moveaxis(stack, 1, -1)
stack.shape

In [ ]:
track(labels, None, stack=stack, spatial_calibration=1, features=['area', 'intensity_mean'], channel_names=['brightfield_channel', 'adhesion_channel'],
	  haralick_options=None, return_napari_data=False, view_on_napari=False, mask_timepoints=None, mask_channels=['brightfield_channel'],
	)

In [ ]:
mask_channels = ['brightfield']
cols_to_drop = []
for mc in mask_channels:
    columns = test.columns
    col_contains = [mc in c for c in columns]
    to_remove = np.array(columns)[np.array(col_contains)]
    cols_to_drop.extend(to_remove)
if len(cols_to_drop)>0:
    test = test.drop(cols_to_drop, axis=1)
display(test)

In [ ]:
from btrack.datasets import cell_config

cell_config()

In [15]:
from celldetective.tracking import interpolate_nan_properties, clean_trajectories, filter_by_tracklength
import pandas as pd
import numpy as np

x = [0,1,5,2,5,4,5]
y = [5,1,4,1,1,2,6]
tid = [1,1,1,2,2,2,2]
t = [0,3,4,0,1,5,7]
f = [0,np.nan,10,np.nan,1,5,np.nan]

df = pd.DataFrame(np.moveaxis([tid,x,y,t,f],0,-1), columns=['tid','x','y','t','f'])
display(df)
column_labels={'track': "tid", 'time': 't', 'x': 'x', 'y': 'y'}

clean_trajectories(df, column_labels=column_labels, minimum_tracklength=0, interpolate_position_gaps=True,
                   extrapolate_tracks_post=True, extrapolate_tracks_pre=True,
                  interpolate_na=True)
# minimum_tracklength = 2
# leftover_tracks = df.groupby('tid', group_keys=False).size().index[df.groupby('tid', group_keys=False).size() > minimum_tracklength]
# df = df.loc[df['tid'].isin(leftover_tracks)]
# df
#leftover_tracks = trajectories.groupby(track_label, group_keys=False).size().index[trajectories.groupby(track_label, group_keys=False).size() > minimum_tracklength]
#trajectories = trajectories.loc[trajectories[track_label].isin(leftover_tracks)]

   tid    x    y    t     f
0  1.0  0.0  5.0  0.0   0.0
1  1.0  1.0  1.0  3.0   NaN
2  1.0  5.0  4.0  4.0  10.0
3  2.0  2.0  1.0  0.0   NaN
4  2.0  5.0  1.0  1.0   1.0
5  2.0  4.0  2.0  5.0   5.0
6  2.0  5.0  6.0  7.0   NaN

    tid    t         x         y     f
0   1.0  0.0  0.000000  5.000000   0.0
1   1.0  1.0  0.333333  3.666667   2.5
2   1.0  2.0  0.666667  2.333333   5.0
3   1.0  3.0  1.000000  1.000000   7.5
4   1.0  4.0  5.000000  4.000000  10.0
5   1.0  5.0  5.000000  4.000000  10.0
6   1.0  6.0  5.000000  4.000000  10.0
7   1.0  7.0  5.000000  4.000000  10.0
8   2.0  0.0  2.000000  1.000000   1.0
9   2.0  1.0  5.000000  1.000000   1.0
10  2.0  2.0  4.750000  1.250000   2.0
11  2.0  3.0  4.500000  1.500000   3.0
12  2.0  4.0  4.250000  1.750000   4.0
13  2.0  5.0  4.000000  2.000000   5.0
14  2.0  6.0  4.500000  4.000000   5.0
15  2.0  7.0  5.000000  6.000000   5.0